.add {
    position: absolute;
    top: 0px;
    left: 0px;
}

.remove {
    position: absolute;
    top: 0px;
    right: 0px;
}

.box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 90%;
    width: 90%;
    overflow: hidden;
}

#two {
    border: 5px red solid;
}

.image {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}