/* Styling for the ImgPods */
/* This is the basic gist of what I want to do with the containers
 * obviously we'll use javascript to customise the container data */


/* The Element that's surrounding the entire image */
.imgPod {
	position: absolute;
	box-sizing: border-box;
	padding: 15px;
	top: 0%;
	height: 100%;
	opacity: 0;
	transition: 500ms height, 500ms width, 500ms transform, 500ms top, 500ms left;
}

.imgLoaded {
	animation: 0.5s birth ease 0.3s;
	animation-iteration-count: 1;
	animation-fill-mode: forward;
}

@keyframes birth {
	0% {
		top: 100%;
		transform: scale(0);
	}
}

@keyframes death {
	100% {
		top: -100%;
		transform: scale(0);
	}
}


/* This is the funky gradient that is happening */
/* Obtained code from https://dev.to/afif/border-with-gradient-and-radius-387f */
.imgPod::before {
  content: "";				/* No idea what this does */
  position: absolute;
  inset: 0;
  border-radius: 20px / 20px; 
  padding: 8px;				/* Padding is actually border-width for some ungodly reason */
  background:linear-gradient(135deg, var(--colour1), var(--colour2)); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

/* This is the actuall image. It's been placed in a div
 * so that it is easily able to be scaled, transformed and altered by js */
.img-content {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 20px / 20px;
	z-index: 100;
}

/* Username belonging to each image */
.user-name {
	position: absolute; /* Want to fload in div */
	top: -30px;			/* Position text in border */
	margin-left: 30px;
	background-color: white; /* Mask out the border */
	padding: 0 8px;
	color: var(--colour2);
	white-space: nowrap;
	font-size: 20px;
	font-weight: 500;
}

.imgPod-icon-container {
	position: absolute;
	color: var(--colour2);
	/* font-weight: 900; */
	font-size: 230%;
	top:  -2px;
	left: 2.5vw;
	background: white;
	height: 12px;
	width: 60px;
	display: flex;
	align-content: baseline;
	justify-content: center;
	/* outline: solid green 1px; */
}

.imgPod-icon {
	position: absolute;
	top: -25px;
}
