@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Styling for the ImgPods */
/* This is the basic gist of what I want to do with the containers
 * obviously we'll use javascript to customise the container data */

/* Remove all prior styleing from this element */
*{
	margin: 0;
	top: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/* The Element that's surrounding the entire image */
.imgPod {
  position: relative;
  padding: 10px 12px 10px 12px;
}

/* This is the funky gradient that is happening */
/* Obtained code from https://dev.to/afif/border-with-gradient-and-radius-387f */
.imgPod::before {
  content: "";				/* No idea what this does */
  position: absolute;
  inset: 0;
  border-radius: 20px / 20px; 
  padding: 5px;				/* Padding is actually border-width for some ungodly reason */
  background:linear-gradient(45deg,red,orange); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

/* This is the actuall image. It's been placed in a div
 * so that it is easily able to be scaled, transformed and altered by js */
.img-content {
	width: 500px;
	height: 500px;
	background-image: url('../images/cat.jpg');
	background-size: cover;
	border-radius: 20px / 20px;
	margin-top: 3px;
}

/* Username belonging to each image */
.user-name {
	position: absolute; /* Want to fload in div */
	top: -10px;			/* Position text in border */
	margin-left: 30px;
	background-color: white; /* Mask out the border */
	padding: 0 8px;
	color: red;			/* Change this via js to appropriate colour */
}
