/* The Screen styling that is displayed when the system is idle */

/* Root of the splash element */
#splash-root {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
	transition: opacity 0.2s;
}

#product-name {
	top: 8.3vw;
	font-size: 2.5vw;
	background-image: linear-gradient(70deg, #c319e6, #ffa1fc, #c319e6);
	background-size: 300%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	background-clip: text;
	-moz-text-fill-color: transparent;
	animation: 30s grandientShift ease;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

/* Holds the words together */
#title {
	position: relative;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	width: 100%;
	height: 12vw;
	margin-top: 10px;
	/* margin-top: 50px; */
	/* outline: solid blue; */
}

/* Big glowey text in the center */
.teamname {
	/* font-size: 70px; */
	font-size: 4.5vw;
	font-weight: 700;
	background-image: linear-gradient(70deg, #ffe040, #ff8800, #ffe040);
	background-size: 300%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	background-clip: text;
	-moz-text-fill-color: transparent;
	animation: 30s grandientShift ease;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

/* Animation for HelloWorld */
@keyframes grandientShift {
	0% {
		background-position: 0% 300%;
	}
	100% {
		background-position: 300% 0%;
	}
}

/* Subtext "Team" and "Presents" */
.subheading {
	color: #9f9f9f;
	/* font-size: 45px; */
	font-weight: 400;
	font-size: 3vw;
}

/* Team */
.subheading:first-child {
	left: 34%;
	top: -1vw;
}

/* Presents */
#presents {
	right: 33%;
	top: 5vw;
}

/* all words in the title */
#title h1 {
	position: absolute;
}

#instructions {
	position: absolute;
	/* outline: solid green; */
	width: 80%;
	height: 50vh;
	top: 35%;
	/* margin-top: 5%; */
	display: flex;
}

.stepCards {
	/* outline: solid red; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stepCards h1 {
	font-size: 2.5vw;
	color: #2e2e2e;
}

.stepCards:first-child p{
	margin-top: -0.4vw;
}

.stepCards p {
	text-align: center;
	color: #9f9f9f;
	font-weight: bold;
	font-size: 1.5vw;
	opacity: 0.7;
}

.imgPodQR {
	--colour1: #ffe040;
	--colour2: #f69D05;
	position: absolute;
	box-sizing: border-box;
	top: 65vh;
    left: 50%;
	height: 14vw;
	aspect-ratio:  1 / 1;
    transform: translate(-50%, -14%);
	display: flex;
	align-items: center;
	justify-content: center;

}

/* This is the funky gradient that is happening */
/* Obtained code from https://dev.to/afif/border-with-gradient-and-radius-387f */
.imgPodQR::before {
  content: "";				/* No idea what this does */
  position: absolute;
  inset: 0;
  border-radius: 20px / 20px; 
  padding: 5%;				/* Padding is actually border-width for some ungodly reason */
  background:linear-gradient(135deg, var(--colour1), var(--colour2)); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.imgPodQR div:first-child {
	position: absolute;
	background: white;
	width: 8vw;
	height: 100%;
	z-index: 100;
}

.imgPodQR div:last-child {
	position: absolute;
	background: white;
	height: 8vw;
	width: 100%;
	z-index: 100;
}

.graphics {
	position: absolute;
	top: 65vh;
	width: 10vw;
    /* transform: translate(-51%, 0); */
}

#wifi-icon {
	left: 18.5vw;
}

#upload-icon {
	right: 18.5vw;
}
