/* Style of the applicaiton */
/* Put all CSS in here  */

#root {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: none; /* We want this for styling purposes */
}

.button button {
  color: #f6eeee;
  width: 200px;
  height: 65px;
  font-size: 24px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #7970b1;
  position: fixed;
  display: flex;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
.button2 {
  color: #f6eeee;
  width: 130px;
  height: 65px;
  font-size: 24px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #595151;
  position: fixed;
  display: flex;
  top: 90%;
  left: 95%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}
.uploadedImage img {
  bottom: 0;
  width: 800px;
  height: 363px;
  border: solid 3px;
  color: black;
  border-radius: 20px;
  object-fit: cover;
  position: fixed;
  top: 37%;
  bottom: 200px;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the label using transform */
}
.box label {
  background: #e0e0e0;
  border: 1px rgba(8, 133, 134, 0.3) dotted;
  width: 100%; /* Use 100% width to fill the container */
  max-width: 800px; /* Limit the maximum width */
  height: 363px;
  color: black;
  border-radius: 20px;
  object-fit: cover;
  position: fixed;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the label using transform */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}
.text {
  width: 304px;
  height: 50px;
  position: fixed;
  top: 70px;
  bottom: 20px;
  color: #f6eeee;
  top: 20%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.header {
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 41px;
  width: 100%;
  background: #7970b1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.headerText {
  display: flex;
  color: #FFF;
  word-wrap: break-word;
  padding-left: 4%;
  width: 100%;
  font-size: 1.8rem;
  font-style: normal;
  font-family: sans-serif;
  font-weight: 600;
  line-height: normal;
}

.uploadText {
  color: #454545;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
}
.uploadText2 {
  color: #676767;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}
