/* Style of the applicaiton */
/* Put all CSS in here  */

#root {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	display: none; /* We want this for styling purposes */
}

label {
	font-size: 30px;
	border: solid 3px;
	padding: 20px;
	color: orange;
	border-radius: 20px;
}

