/* Style of the applicaiton */
/* Put all CSS in here  */

body, html {
  background-color: #7970b1;
  font-family: Montserrat;
  overscroll-behavior: contain;
}

#root {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 2s background-color ease 0.2s;
	
}

input {
  display: none; /* We want this for styling purposes */
}

.start-presenting-button button {
  color: #fff;
  width: 200px;
  height: 55px;
  font-size: 21px;
  border-radius: 13px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #7970b1;
  position: fixed;
  display: flex;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 100%);
  align-items: center;
  justify-content: center;
  border: #454545;
  cursor: pointer;
}

.upload-button {
  border: none;
}

.disconnect-button {
  color: #fff;
  width: 80%;
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
  font-family: Montserrat;
  background-color: #595151;
  position: fixed;
  border: #454545;
  top: 100%;
  transform: translate(-50%, -150%);
  cursor: pointer; 
  transition: box-shadow 0.3s; 
}

.disconnect-button:hover {
  box-shadow: 9px 5px 9px rgba(0, 0, 0, 0.2); 
}

.upload-image img {
  /* transition: 2s background-color ease 0.2s; */
  transition: 2s transform ease 1s;
 
  max-width: 800px;
  max-height: 363px;
  border: solid 3px;
  color: black;
  border-radius: 10px;
  object-fit: cover;
  position: fixed;
  top: 37%;
  bottom: 200px;
  left: 50%;
  transform: translate(-50%, -73%);
}

.upload-box label {
  background: #e0e0e0;
  border: 1px rgba(8, 133, 134, 0.3) dotted;
  width: 100%; /* Use 100% width to fill the container */
  max-width: 800px; /* Limit the maximum width */
  height: 363px;
  color: black;
  border-radius: 20px;
  object-fit: cover;
  position: fixed;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the label using transform */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

.upload-text {
  width: 304px;
  height: 70px;
  position: center;
  top: 70px;
  bottom: 20px;
  color: #f6eeee;
  top: 15%;
  left: 52%;
  transform: translate(-50%, 10%);
}

.header {
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 43px;
  width: 100%;
  background: #7970b1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.header-text {
  display: flex;
  color: #fff;
  word-wrap: break-word;
  padding-left: 3%;
  width: 100%;
  font-size: 1.8rem;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
}

.upload-text {
  color: #454545;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
}

.supported-formats-text {
  color: #676767;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

@media only screen and (max-width: 768px) {
  .header-text {
    font-size: 1.2rem;
    padding-left: 5%;
  }

  .upload-box label {
    max-width: 90%;
    height: 35%;
  }

  .upload-image img {
   object-fit: cover; /* Maintain aspect ratio */
  max-width: 468px; 
  max-height: auto; /* Adjust as needed */
}
  

  .upload-text {
    font-size: 14px;
    top: 10%;
    left: 50%;
  }

  .supported-formats-text {
    font-size: 10px;
  }
}

.extra-upload {
	position: absolute;
	z-index: 100;
	width: 50%;
	height: 60px;
	border-radius: 5px;
	background: #e0e0e0;
	left: 50%;
	top: 70%;
	transform: translateX(-50%);
	transition: 1s opacity ease;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 15px;
	color: black;
  transition: box-shadow 0.3s; 
  cursor: pointer;
}

.extra-upload:hover {
  box-shadow: 9px 5px 9px rgba(0, 0, 0, 0.2); 
}
