/* styling for the application -- This file actually changes the web page */
#root {
	display: flex;
	margin: 0;
	padding: 0;
	height: 99vh;
	width: 99vw;
	justify-content: center;
	align-items: center;
	outline: solid blue;
}
