/* styling for the application -- This file actually changes the web page */
#root {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 2s background-color ease 3s;
}
